Automation/Scripts/Exports/Incident-AutoTriage_ARM.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Incident-AutoTriage",
"type": "string"
}
},
"variables": {},
"resources": [
{
"properties": {
"provisioningState": "Succeeded",
"state": "Enabled",
"definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
        "defaultValue": {},
        "type": "Object"
    },
    "PlaybookInternalName": {
        "defaultValue": "BasicSample",
        "type": "String"
    },
    "PlaybookVersion": {
        "defaultValue": "1.5.6",
        "type": "String"
    },
    "ProjectName": {
        "defaultValue": "STAT",
        "type": "String"
    }
},
"triggers": {
    "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
        "type": "ApiConnectionWebhook",
        "inputs": {
            "body": {
                "callback_url": "@{listCallbackUrl()}"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "path": "/incident-creation"
        }
    }
},
"actions": {
    "AAD_Risks_Module": {
        "runAfter": {
            "Base_Module": [
                "Succeeded"
            ]
        },
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "BaseModuleBody": "@body('Base_Module')",
                "LookbackInDays": 14
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
                }
            },
            "method": "post",
            "path": "/api/modules/aadrisks"
        }
    },
    "Base_Module": {
    "runAfter": {},
    "type": "ApiConnection",
    "inputs": {
        "body": {
            "Body": "@triggerBody()"
        },
        "host": {
            "connection": {
                "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
            }
        },
        "method": "post",
        "path": "/api/modules/base"
    }
},
"Condition": {
    "actions": {
        "Update_incident_-_Raise_Severity_and_Tag": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "incidentArmId": "@triggerBody()?['object']?['id']",
                "severity": "High",
                "tagsToAdd": {
                    "TagsToAdd": [
                        {
                            "Tag": "STAT Triage - High Risk"
                        },
                        {
                            "Tag": "RiskScore:@{body('Risk_Scoring_Module')?['TotalScore']}"
                        }
                    ]
                }
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "method": "put",
            "path": "/Incidents"
        }
    }
},
"runAfter": {
    "Risk_Scoring_Module": [
        "Succeeded"
    ]
},
"else": {
    "actions": {
        "Update_incident_-_Lower_Severity_and_Tag": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "incidentArmId": "@triggerBody()?['object']?['id']",
                "severity": "Informational",
                "tagsToAdd": {
                    "TagsToAdd": [
                        {
                            "Tag": "STAT Triage - Low Risk"
                        },
                        {
                            "Tag": "RiskScore:@{body('Risk_Scoring_Module')?['TotalScore']}"
                        }
                    ]
                }
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "method": "put",
            "path": "/Incidents"
        }
    }
}
},
"expression": {
"or": [
    {
        "greaterOrEquals": [
            "@body('Risk_Scoring_Module')?['TotalScore']",
            40
        ]
    }
]
},
"type": "If"
},
"Microsoft_Defender_for_Cloud_Apps_Module": {
"runAfter": {
"Base_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "AddIncidentComments": true,
    "BaseModuleBody": "@body('Base_Module')",
    "ScoreThreshold": 1
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/mdca"
}
},
"Microsoft_Defender_for_Endpoint_Module": {
"runAfter": {
"Base_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "AddIncidentComments": true,
    "BaseModuleBody": "@body('Base_Module')",
    "LookbackInDays": 90
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/mde"
}
},
"Out_of_Office_Module": {
"runAfter": {
"Base_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "AddIncidentComments": true,
    "BaseModuleBody": "@body('Base_Module')"
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/oofmodule"
}
},
"Related_Alerts_Module": {
"runAfter": {
"Base_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "BaseModuleBody": "@body('Base_Module')",
    "LookbackInDays": 14
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/relatedalerts"
}
},
"Risk_Scoring_Module": {
"runAfter": {
"AAD_Risks_Module": [
    "Succeeded"
],
"Microsoft_Defender_for_Cloud_Apps_Module": [
    "Succeeded"
],
"Microsoft_Defender_for_Endpoint_Module": [
    "Succeeded"
],
"Out_of_Office_Module": [
    "Succeeded"
],
"Related_Alerts_Module": [
    "Succeeded"
],
"Threat_Intel_Module": [
    "Succeeded"
],
"User_Entity_Behavior_Analytics_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "BaseModuleBody": "@body('Base_Module')",
    "ScoringData": [
        {
            "ModuleBody": "@body('AAD_Risks_Module')",
            "ScoreLabel": "AAD Risks",
            "ScoreMultiplier": 1,
            "ScorePerItem": true
        },
        {
            "ModuleBody": "@body('Related_Alerts_Module')",
            "ScoreLabel": "Related Alerts",
            "ScoreMultiplier": 1,
            "ScorePerItem": true
        },
        {
            "ModuleBody": "@body('Threat_Intel_Module')",
            "ScoreLabel": "TI Module",
            "ScoreMultiplier": 5,
            "ScorePerItem": true
        }
    ]
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/scoring"
}
},
"Threat_Intel_Module": {
"runAfter": {
"Base_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "AddIncidentComments": true,
    "BaseModuleBody": "@body('Base_Module')"
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/threatintel"
}
},
"User_Entity_Behavior_Analytics_Module": {
"runAfter": {
"Base_Module": [
    "Succeeded"
]
},
"type": "ApiConnection",
"inputs": {
"body": {
    "AddIncidentComments": true,
    "BaseModuleBody": "@body('Base_Module')",
    "LookbackInDays": 30,
    "MinimumInvestigationPriority": 1
},
"host": {
    "connection": {
        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
    }
},
"method": "post",
"path": "/api/modules/ueba"
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"SentinelTriageAssistantv2": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/stl-sec-stat-fcn",
"connectionName": "stl-sec-stat-fcn",
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/customApis/SentinelTriageAssistantv2"
},
"azuresentinel": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/Incident-AutoTriage-sentinel",
"connectionName": "Incident-AutoTriage-sentinel",
"connectionProperties": {
"authentication": {
    "type": "ManagedServiceIdentity"
}
},
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/azuresentinel"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"Application": "Sentinel",
"Environment": "Azure",
"Purpose": "STAT",
"hidden-SentinelTemplateName": "Incident-AutoTriage",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": []
}
]
}
