Automation/Scripts/Exports/Incident-VirusTotalIPReport_ARM.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Incident-VirusTotalIPReport",
"type": "string"
}
},
"variables": {},
"resources": [
{
"properties": {
"provisioningState": "Succeeded",
"state": "Enabled",
"definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
        "defaultValue": {},
        "type": "Object"
    }
},
"triggers": {
    "Microsoft_Sentinel_incident": {
        "type": "ApiConnectionWebhook",
        "inputs": {
            "body": {
                "callback_url": "@{listCallbackUrl()}"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "path": "/incident-creation"
        }
    }
},
"actions": {
    "Add_comment_to_incident_(V3)": {
        "runAfter": {
            "Create_HTML_table": [
                "Succeeded"
            ]
        },
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "incidentArmId": "@triggerBody()?['object']?['id']",
                "message": "<p>@{body('Create_HTML_table')}</p>"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "method": "post",
            "path": "/Incidents/Comment"
        }
    },
    "Create_HTML_table": {
        "runAfter": {
            "For_each": [
                "Succeeded",
                "Failed"
            ]
        },
        "type": "Table",
        "inputs": {
            "format": "HTML",
            "from": "@variables('IPInfo')"
        }
    },
    "Entities_-_Get_IPs": {
    "runAfter": {},
    "type": "ApiConnection",
    "inputs": {
        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
        "host": {
            "connection": {
                "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
            }
        },
        "method": "post",
        "path": "/entities/ip"
    }
},
"For_each": {
    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
    "actions": {
        "Condition": {
            "actions": {
                "Append_to_array_variable": {
                    "runAfter": {
                        "Send_Data": [
                            "Succeeded"
                        ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                        "name": "IPInfo",
                        "value": {
                            "ASOwner": "@{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}",
                            "Country": "@{body('Get_an_IP_report')?['data']?['attributes']?['country']}",
                            "IPAddress": "@{items('For_each')?['Address']}",
                            "Malicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}",
                            "Reputation": "@{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}",
                            "Risk": "Likely harmless",
                            "Suspicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}",
                            "Undetected": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}"
                        }
                    }
                },
                "Send_Data": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "body": "@{body('Get_an_IP_report')?['data']}",
                    "headers": {
                        "Log-Type": "VTIPReport",
                        "time-generated-field": "@{utcNow()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/api/logs"
                }
            }
        },
        "runAfter": {
            "Get_an_IP_report": [
                "Succeeded"
            ]
        },
        "else": {
            "actions": {
                "Append_to_array_variable_2": {
                    "runAfter": {
                        "Send_Data_2": [
                            "Succeeded"
                        ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                        "name": "IPInfo",
                        "value": {
                            "ASOwner": "@{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}",
                            "Country": "@{body('Get_an_IP_report')?['data']?['attributes']?['country']}",
                            "IPAddress": "@{items('For_each')?['Address']}",
                            "Malicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}",
                            "Reputation": "@{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}",
                            "Risk": "Likely Malicious",
                            "Suspicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}",
                            "Undetected": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}"
                        }
                    }
                },
                "Send_Data_2": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "body": "@{body('Get_an_IP_report')?['data']}",
                    "headers": {
                        "Log-Type": "VTIPReport",
                        "time-generated-field": "@{utcNow()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/api/logs"
                }
            }
        }
    },
    "expression": {
        "and": [
            {
                "greaterOrEquals": [
                    "@body('Get_an_IP_report')?['data']?['attributes']?['reputation']",
                    0
                ]
            }
        ]
    },
    "type": "If"
},
"Get_an_IP_report": {
"runAfter": {},
"type": "ApiConnection",
"inputs": {
    "host": {
        "connection": {
            "name": "@parameters('$connections')['virustotal_1']['connectionId']"
        }
    },
    "method": "get",
    "path": "/api/v3/ip_addresses/@{encodeURIComponent(items('For_each')?['Address'])}"
}
}
},
"runAfter": {
"Initialize_variable": [
"Succeeded"
]
},
"type": "Foreach"
},
"Initialize_variable": {
"runAfter": {
"Entities_-_Get_IPs": [
"Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
    "name": "IPInfo",
    "type": "array"
}
]
}
},
"Terminate": {
"runAfter": {
"Add_comment_to_incident_(V3)": [
"Succeeded"
]
},
"type": "Terminate",
"inputs": {
"runStatus": "Succeeded"
}
}
}
},
"parameters": {
"$connections": {
"value": {
"azureloganalyticsdatacollector_1": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/azureloganalyticsdatacollector",
"connectionName": "azureloganalyticsdatacollector",
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/azureloganalyticsdatacollector"
},
"azuresentinel_1": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/azuresentinel-3",
"connectionName": "azuresentinel-3",
"connectionProperties": {
"authentication": {
    "type": "ManagedServiceIdentity"
}
},
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/azuresentinel"
},
"virustotal_1": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/virustotal",
"connectionName": "virustotal",
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/virustotal"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"Application": "Sentinel",
"Environment": "Azure",
"Purpose": "Virus Total",
"hidden-SentinelWorkspaceId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/microsoft.OperationalInsights/Workspaces/stl-sec-siem-law",
"hidden-SentinelTemplateName": "Incident-VirusTotalIPReport",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": []
}
]
}
