Automation/Scripts/Exports/Incident-VulnerabilityEnrichment_ARM.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Incident-VulnerabilityEnrichment",
"type": "string"
}
},
"variables": {},
"resources": [
{
"properties": {
"provisioningState": "Succeeded",
"state": "Enabled",
"definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
        "defaultValue": {},
        "type": "Object"
    },
    "Recipients": {
        "defaultValue": "user@doamin.com",
        "type": "String"
    }
},
"triggers": {
    "Microsoft_Sentinel_incident": {
        "type": "ApiConnectionWebhook",
        "inputs": {
            "body": {
                "callback_url": "@{listCallbackUrl()}"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "path": "/incident-creation"
        }
    }
},
"actions": {
    "Add_comment_to_incident_(V3)": {
        "runAfter": {
            "Create_HTML_table_3": [
                "Succeeded"
            ]
        },
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "incidentArmId": "@triggerBody()?['object']?['id']",
                "message": "<p>@{body('Create_HTML_table')}<br>\n@{body('Create_HTML_table_2')}<br>\n@{body('Create_HTML_table_3')}</p>"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "method": "post",
            "path": "/Incidents/Comment"
        }
    },
    "Create_HTML_table": {
        "runAfter": {
            "For_each": [
                "Succeeded"
            ]
        },
        "type": "Table",
        "inputs": {
            "format": "HTML",
            "from": "@variables('Info')"
        }
    },
    "Create_HTML_table_2": {
        "runAfter": {
            "Create_HTML_table": [
                "Succeeded"
            ]
        },
        "type": "Table",
        "inputs": {
            "format": "HTML",
            "from": "@variables('CVEs')"
        }
    },
    "Create_HTML_table_3": {
        "runAfter": {
            "Create_HTML_table_2": [
                "Succeeded"
            ]
        },
        "type": "Table",
        "inputs": {
            "format": "HTML",
            "from": "@variables('Urls')"
        }
    },
    "For_each": {
        "foreach": "@body('Run_query_and_list_results_2')?['value']",
        "actions": {
            "Append_to_CVE_array": {
                "runAfter": {
                    "Append_to_array_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToArrayVariable",
                "inputs": {
                    "name": "CVEs",
                    "value": {
                        "CVE": "@{items('For_each')?['CVEs']}"
                    }
                }
            },
            "Append_to_array_variable": {
                "runAfter": {
                    "Append_to_CVE_array": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToArrayVariable",
                "inputs": {
                    "name": "Urls",
                    "value": {
                        "URLs": "@{items('For_each')?['UpdateURLs']}"
                    }
                }
            },
            "Append_to_array_variable_2": {
            "runAfter": {},
            "type": "AppendToArrayVariable",
            "inputs": {
                "name": "Info",
                "value": {
                    "DeviceCategory": "@{items('For_each')?['DeviceCategory']}",
                    "DeviceId": "@{items('For_each')?['DeviceId']}",
                    "DeviceName": "@{items('For_each')?['DeviceName']}",
                    "DeviceType": "@{items('For_each')?['DeviceType']}",
                    "ExploitAvailable": "@{items('For_each')?['ExploitAvailable']}",
                    "IsAzureADJoined": "@items('For_each')?['IsAzureADJoined']",
                    "JoinType": "@{items('For_each')?['JoinType']}",
                    "OSPlatform": "@{items('For_each')?['OSPlatform']}",
                    "PublicIP": "@{items('For_each')?['PublicIP']}",
                    "UserName": "@{items('For_each')?['UserName']}",
                    "VulnerabilitySeverity": "@{items('For_each')?['VulnerabilitySeverity']}"
                }
            }
        }
    },
    "runAfter": {
        "Run_query_and_list_results_2": [
            "Succeeded"
        ]
    },
    "type": "Foreach"
},
"Initialize_CVEs": {
    "runAfter": {
        "Initialize_variable": [
            "Succeeded"
        ]
    },
    "type": "InitializeVariable",
    "inputs": {
        "variables": [
            {
                "name": "CVEs",
                "type": "array"
            }
        ]
    }
},
"Initialize_URLs": {
    "runAfter": {
        "Initialize_CVEs": [
            "Succeeded"
        ]
    },
    "type": "InitializeVariable",
    "inputs": {
        "variables": [
            {
                "name": "Urls",
                "type": "array"
            }
        ]
    }
},
"Initialize_variable": {
"runAfter": {},
"type": "InitializeVariable",
"inputs": {
    "variables": [
        {
            "name": "Info",
            "type": "array"
        }
    ]
}
},
"Run_query_and_list_results_2": {
"runAfter": {
    "Initialize_URLs": [
        "Succeeded"
    ]
},
"type": "ApiConnection",
"inputs": {
    "body": "let EnvironmentRisk1 = \n    MDVMVulnerabilitiesByDevice_CL\n    | where vulnerabilitySeverityLevel has_any (\"Critical\", \"High\")\n        or exploitabilityLevel != \"NoExploit\"\n    | project DeviceName = deviceName, OS = osPlatform, CVE = cveId, ExploitAvailable = exploitabilityLevel\n    , VulnerabilitySeverity = vulnerabilitySeverityLevel, SecurityUpdateUrl = tostring(recommendedSecurityUpdateUrl)\n    ;\nDeviceInfo\n| join kind = inner EnvironmentRisk1 on DeviceName\n| extend UserName = tostring(LoggedOnUsers[0].UserName)\n| summarize CVEs = make_set(CVE), UpdateURLs = make_set(SecurityUpdateUrl) by DeviceName, DeviceId, UserName, IsAzureADJoined, OSPlatform, PublicIP, DeviceCategory, DeviceType\n    , JoinType, ExploitAvailable, VulnerabilitySeverity",
    "host": {
        "connection": {
            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
        }
    },
    "method": "post",
    "path": "/queryData",
    "queries": {
        "resourcegroups": "STL-SEC-SIEM-RG",
        "resourcename": "stl-sec-siem-law",
        "resourcetype": "Log Analytics Workspace",
        "subscriptions": "5305ccd2-977a-4630-843b-bad582e756a3",
        "timerange": "Last 24 hours"
    }
}
},
"Send_an_email_(V2)": {
"runAfter": {
    "Add_comment_to_incident_(V3)": [
        "Succeeded"
    ]
},
"type": "ApiConnection",
"inputs": {
    "body": {
        "Body": "<p>@{body('Add_comment_to_incident_(V3)')}</p>",
        "Importance": "Normal",
        "Subject": "@body('Add_comment_to_incident_(V3)')?['name']",
        "To": "@parameters('Recipients')"
    },
    "host": {
        "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
        }
    },
    "method": "post",
    "path": "/v2/Mail"
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuremonitorlogs": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/Azuremonitorlogs-Incident-VulnerabilityEnrichment",
"connectionName": "Azuremonitorlogs-Incident-VulnerabilityEnrichment",
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/Azuremonitorlogs",
"connectionProperties": {}
},
"azuresentinel_1": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/MicrosoftSentinel-Incident-VulnerabilityEnrichment",
"connectionName": "MicrosoftSentinel-Incident-VulnerabilityEnrichment",
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/Azuresentinel",
"connectionProperties": {
"authentication": {
    "type": "ManagedServiceIdentity"
}
}
},
"office365": {
"connectionId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups/STL-SEC-AUTOMATION-RG/providers/Microsoft.Web/connections/Office365-Incident-VulnerabilityEnrichment",
"connectionName": "Office365-Incident-VulnerabilityEnrichment",
"id": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/providers/Microsoft.Web/locations/uksouth/managedApis/Office365"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"Environment": "Azure",
"Application": "Microsoft Sentinel",
"Purpose": "External Threat Intelligence",
"hidden-SentinelWorkspaceId": "/subscriptions/5305ccd2-977a-4630-843b-bad582e756a3/resourceGroups//providers/microsoft.OperationalInsights/Workspaces/",
"hidden-SentinelTemplateName": "Incident-VulnerabilityEnrichment",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": []
}
]
}
